.b {
  background: #F5F5F5;
  padding:2% 2% 2% 2%;
}



.siderbar {
  background-color: white;
  border-radius:20px;
  
}

.rightbar {
  background-color: white;
  margin-left:20px;
  border-radius:20px;
  width: 78% !important;

}

/*  */

.nav-item{
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid#F5F5F5;
}

.col-md-4.siderbar {
  width:auto;
}

span.ms-1.d-sm-inline{
  padding-left:20px;
}

.col-md-8{
  display: flex;
  padding: 10px 10px 10px 10px;
  
}

.col-md-6.map{
  border: 2px solid #F5F5F5;
  border-radius: 10px;
  padding: 5px;
}
.col-md-6.c{
  border: 2px solid #F5F5F5;
  border-radius:10px; 
  margin-right:5px;
 }

.row.dt{
 padding-left:10px;
 padding-right: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-bottom: 2px solid#F5F5F5;
 
 
  
}

.icons{
  height: 22px;
  padding-right: 14px;
}

.meterbox{
  height:200px;
  width:220px;
background:#2e2e4a;
border-radius: 20px;
padding-top: 10px;
padding-left: 10px;
}

.speedh{
  color: white;
  text-align:center;
  font-size:22px;
}